.bcbst-card-container {
  container: card-container / inline-size;

  .bcbst-card-container__grid {
    gap: var(--size-grid-gap-small);

    @include container-above(tablet) {
      gap: var(--size-grid-gap-medium);
    }
  }
}
