// Follow BEM naming convention
// Reduce nesting for readability, < three levels when possible:
//    .block
//      &__element
//      &--modifier
// Unless working with third party classes, classes should be all lower kebab-case

.bcbst-card--general {
    background: var(--color-gray-light40);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

    .bcbst-card__img {
        position: relative;
        text-decoration: none;
        aspect-ratio: 16 / 9;

        .bcbst-image {
            width: 100%;
            height: auto;
            aspect-ratio: 16 / 9;

            img {
                height: auto;
                aspect-ratio: 16 / 9;
            }
        }

        &.bcbst-btn--video {
            &:before {
                content: '';
                position: absolute;
                top: calc(50% - var(--size-icon-social-share) / 2);
                left: calc(50% - var(--size-icon-social-share) / 2);
                height: var(--size-icon-social-share);
                width: var(--size-icon-social-share);
                background: transparent center no-repeat $icon-video-play;
                border-radius: 50%;
                transition: transform 0.3s ease;
                z-index: 1;
            }

            &:hover {
                &:before {
                    transform: scale(1.15);
                    transition: transform 0.3s ease;
                }
            }

            .bcbst-image {
                pointer-events: none;
            }
        }
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .bcbst-card__heading {
        margin: 0;
        font: var(--font-heading-h5);
        padding-block: calc(var(--size-spacing-base) * 2);
        width: 100%;
        font-size: var(--size-font-medium-2);

        html[lang="zh-cn"] & {
            font: var(--font-cn-heading-h5);
            font-size: var(--size-font-medium-2);
        }
    }

    .bcbst-card__cta {
        height: rem-calc(65);
        padding: 0 calc(var(--size-spacing-base) * 2.5);
    }

    &.product-result-card {
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

        .bcbst-card__heading {
            font: var(--font-body-paragraph);
            font-weight: var(--font-weight-semibold);
            padding: calc(var(--size-spacing-base) * 1.25) calc(var(--size-spacing-base) * 1.25) calc(var(--size-spacing-base) * 2.5);

            html[lang="zh-cn"] & {
                font: var(--font-cn-body-paragraph);
                font-weight: var(--font-weight-semibold);
            }
        }

        .bcbst-card__img {
            .bcbst-image {
                height: 100%;

                img {
                    height: 100%;
                }
            }
        }

        .bcbst-card__cta,
        .bcbst-card__description {
            display: none;
        }
    }

    &.product-list-result-card {
        box-shadow: none;

        @include respond-above(tablet) {
            flex-direction: row;

            .content-wrapper {
                display: unset;
            }
        }

        .bcbst-card__heading {
            font: var(--font-body-paragraph);
            font-weight: var(--font-weight-semibold);
            padding: calc(var(--size-spacing-base) * 1.25) 0 0;

            html[lang="zh-cn"] & {
                font: var(--font-cn-body-paragraph);
                font-weight: var(--font-weight-semibold);
            }

            @include respond-above(tablet) {
                padding: 0 calc(var(--size-spacing-base) * 2.5) 0;
            }

            @include respond-above(desktop) {
                padding: calc(var(--size-spacing-base) * 1.25) calc(var(--size-spacing-base) * 2.5) 0;
            }
        }

        .bcbst-card__img {
            width: 100%;
            max-height: 12.5rem;
            overflow: hidden;
            height: auto;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

            @include respond-above(tablet) {
                max-width: calc(var(--size-spacing-medium) * 6.375);
                height: calc(var(--size-spacing-medium) * 6.375);
                max-height: unset;
                overflow: unset;
            }

            .bcbst-image {
                height: 100%;
                width: 100%;

                img {
                    height: 100%;
                }
            }
        }

        .bcbst-card__cta {
            display: none;
        }

        .bcbst-card__description {
            padding: calc(var(--size-spacing-base) * 1.25) 0 0;

            @include respond-below(tablet) {
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 5;
                line-clamp: 5;
                display: -webkit-box;
                overflow: hidden;
            }

            @include respond-above(tablet) {
                padding: calc(var(--size-spacing-base) * 1.25) calc(var(--size-spacing-base) * 2.5) 0 calc(var(--size-spacing-base) * 2.5);
            }
        }

        .bcbst-card__section-links {
            padding: calc(var(--size-spacing-base) * 1.25) 0 calc(var(--size-spacing-base) * 1.25);
            display: flex;
            flex-wrap: wrap;
            row-gap: var(--size-spacing-base);
            column-gap: calc(var(--size-spacing-base) * 2.5);

            .bcbst-btn {
                margin-top: 0;
                padding: 0;
            }

            @include respond-above(tablet) {
                display: inline-block;
                padding: calc(var(--size-spacing-base) * 1.25) 0 0 calc(var(--size-spacing-base) * 2.5);

                .bcbst-btn:not(:last-of-type) {
                    margin-right: calc(var(--size-spacing-base) * 2.5);
                }
            }
        }
    }

    &.video-list-result-card {
        display: flex;
        box-shadow: none;

        @include respond-above(tablet) {
            flex-direction: row;
        }

        .bcbst-card__img.bcbst-btn--video {
            aspect-ratio: 16/9;
            max-width: 100%;
            max-height: rem-calc(163);

            @include respond-above(tablet) {
                order: 2;
                max-width: rem-calc(270);
            }
        }

        .content-wrapper {
            @include respond-above(tablet) {
                order: 1;
            }
        }

        .bcbst-card__heading.heading-video {
            padding: var(--size-spacing-small) 0 0;
            font: var(--font-mobile-heading-h3);
            line-height: calc(var(--size-spacing-small) * 2);

            html[lang="zh-cn"] & {
                font: var(--font-cn-mobile-heading-h3);
                line-height: calc(var(--size-spacing-small) * 2);
            }

            @include respond-above(tablet) {
                font: var(--font-heading-h4);
                padding: 0 calc(var(--size-spacing-base) * 2.5) 0 0;

                html[lang="zh-cn"] & {
                    font: var(--font-cn-heading-h4);
                }
            }


            @include respond-above(desktop) {
                padding: calc(var(--size-spacing-base) * 2.5) calc(var(--size-spacing-base) * 2.5) 0 0;
            }
        }

        .bcbst-card__description {
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            display: -webkit-box;
            overflow: hidden;
            padding: calc(var(--size-spacing-base) * 1.25) 0 0;

            @include respond-above(tablet) {
                padding: calc(var(--size-spacing-base) * 1.25) calc(var(--size-spacing-base) * 2.5) 0 0;
            }
        }

        .bcbst-card__cta {
            height: unset;
            margin-top: unset;
            padding: 0;

            @include respond-above(tablet) {
                padding: 0 calc(var(--size-spacing-base) * 2.5) 0 0;
            }
        }
    }
}
