// Follow BEM naming convention
// Reduce nesting for readability, < three levels when possible:
//    .block
//      &__element
//      &--modifier
// Unless working with third party classes, classes should be all lower kebab-case

.bcbst-card--text-only {
    @include box-shadow;
    .bcbst-card__heading {
        color: var(--color-gray-dark64);
        font: var(--font-body-paragraph);
        font-weight: var(--font-weight-semibold);
        margin: 0;

        html[lang="zh-cn"] & {
            font: var(--font-cn-body-paragraph);
            font-weight: var(--font-weight-semibold);
        }
    }
    .bcbst-card__description {
        font-weight: var(--font-weight-semibold);
        padding-block-start: calc(var(--size-spacing-base) * 2.5);
        padding-bottom: calc(var(--size-spacing-base) * 1.25);
    }

    .bcbst-card__cta {
        height: rem-calc(65);
        padding: 0 calc(var(--size-spacing-base) * 2.5);
    }  
}

