body {
  font-family: var(--local-font-family-body, var(--local-font-family, var(--font-family-body)));

  * {
    box-sizing: border-box;
  }
}

* {
  text-decoration-thickness: 0.0625rem !important;
  text-underline-offset: 0.1875em;
}

%paragraph {
  font: var(--font-body-paragraph);
}

%article {
  font: var(--font-body-article);
}

%p1 {
  font: var(--font-body-p1);
}

%p2 {
  font: var(--font-body-p2);
}

%p3 {
  font: var(--font-body-p3);
}

%p4 {
  font: var(--font-body-p4);
}

%p5 {
  font: var(--font-body-p5);
}

%p6 {
  font: var(--font-body-p6);
}

%label {
  font: var(--font-body-label);
  text-transform: uppercase;
}

%eyebrow {
  color: var(--_font-eyebrow-color, var(--color-interactive-secondary-default));
  font: var(--font-body-eyebrow);
  text-transform: uppercase;
}

.paragraph {
  @extend %paragraph;
}

article,
.article {
  @extend %article;
}

p {
  @extend %paragraph;
}

.p1 {
  @extend %p1;
}

.p2 {
  @extend %p2;
}

.p3 {
  @extend %p3;
}

.p4 {
  @extend %p4;
}

.p5 {
  @extend %p5;
}

.p6 {
  @extend %p6;
}

label,
.label {
  @extend %label;
}

.eyebrow {
  @extend %eyebrow;
}

html {
  scroll-behavior: smooth;
}
