// Follow BEM naming convention
// Reduce nesting for readability, < three levels when possible:
//    .block
//      &__element
//      &--modifier
// Unless working with third party classes, classes should be all lower kebab-case

.acs-test-form-select {
    height: var(--size-form-select-min-height);
    min-height: var(--size-form-select-min-height);
    border: 1px solid var(--color-gray-dark64);
    border-radius: 0;
    background-color: var(--color-gray-light40);
    color: var(--color-font-form-label);
    font: var(--font-body-p5);
    font-weight: var(--font-weight-semibold);
    line-height: var(--size-font-line-height-4);
    padding-inline: var(--size-form-select-padding-x);
    text-transform: uppercase;

    &:hover {
        background-color: var(--color-interactive-cool-gray-hover);

        option {
            background-color: var(--color-gray-light40);
        }
    }

    &:focus-visible {
        border-radius: 0;
        outline: var(--size-border-small) solid var(--color-border-focus-dark);
        outline-offset: 0;
    }

    &--light-background {
        background-color: var(--color-gray-light40);
    }

    @include respond-below(tablet) {
        width: 100%;
        max-width: 100%;
      }
}
