// Follow BEM naming convention
// Reduce nesting for readability, < three levels when possible:
//    .block
//      &__element
//      &--modifier
// Unless working with third party classes, classes should be all lower kebab-case

.bcbst-accordion {
  .bcbst-rich-text {
    margin-bottom: var(--size-spacing-accordion-header-padding-bottom);
  }

  .bcbst-content-area {
    padding-bottom: var(--size-spacing-accordion-header-padding-bottom);

    > div {
      margin-bottom: var(--size-spacing-small);
    }
  }

  summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: var(--size-spacing-accordion-header-padding-top);
    padding-bottom: var(--size-spacing-accordion-header-padding-bottom);
    cursor: pointer;
    font: var(--font-body-paragraph);
    font-weight: var(--font-weight-regular);

    html[lang='zh-cn'] & {
      font: var(--font-cn-body-paragraph);
      font-weight: var(--font-weight-regular);
    }

    svg {
      width: var(--size-icon-extra-small);
      height: var(--size-icon-extra-small);
    }
  }

  details {
    border-bottom: 1px solid var(--color-gray-light16);
  }

  details[open] {
    .bcbst-accordion__content {
      height: auto;
      opacity: 1;
    }
  }

  &__title {
    margin-top: 0;
  }

  &__content {
    height: 0;
    opacity: 0;
    transition:
      height 0.3s ease,
      opacity 0.3s ease;

    .bcbst-flexible-visual-navigation-container:not(.bcbst-flexible-visual-navigation-container--dark-gray),
    .bcbst-big-feature,
    .bcbst-card-collection-block__aspect-ratio,
    .bcbst-contact-info,
    .bcbst-contact-spots:not(
        .bcbst-contact-spots--blue-gray,
        .bcbst-contact-spots--dark-blue,
        .bcbst-contact-spots--light-gray,
        .bcbst-contact-spots--dark-gray
      ),
    .bcbst-download-list:not(
        .bcbst-download-list--dark-blue,
        .bcbst-download-list--light-gray,
        .bcbst-download-list--dark-gray,
        .bcbst-download-list--gray-blue
      ),
    .app-e-spot-text-columns,
    .bcbst-event-schedule,
    .bcbst-featured-content:not(.bcbst-featured-content--gray),
    .bcbst-featured-editorial-content,
    .bcbst-featured-profile:not(.bcbst-featured-profile--light-gray),
    .bcbst-filterable-list,
    .bcbst-flexible-content-tile-grid:not(
        .bcbst-flexible-content-tile-grid--light-gray,
        .bcbst-flexible-content-tile-grid--dark-gray,
        .bcbst-flexible-content-tile-grid--dark-blue,
        .bcbst-flexible-content-tile-grid--blue-gray
      ),
    .bcbst-flexible-col:not(.bcbst-flexible-col--gray),
    .bcbst-html-sitemap,
    .bcbst-html-block,
    .bcbst-locales-table,
    .bcbst-location-finder,
    .bcbst-mega-flexible-multi-column-component:not(.bcbst-flexible-visual-navigation-container--light-gray),
    .bcbst-promo-block:not(
        .bcbst-promo-block--dark-gray,
        .bcbst-promo-block--light-gray,
        .bcbst-promo-block--blue-gray,
        .bcbst-promo-block--alt-color
      ),
    .bcbst-rich-text:not(.bcbst-rich-text--light-gray),
    .bcbst-six-up-news-grid__aspect-ratio,
    .bcbst-social-buttons-inline:not(.bcbst-social-buttons-inline--light-gray),
    .bcbst-table,
    .bcbst-tabs:not(.bcbst-tabs--bg-dark, .bcbst-tabs--light-gray),
    .bcbst-text-left-cta-right:not(
        .bcbst-reversed,
        .bcbst-text-left-cta-right--dark-gray,
        .bcbst-text-left-cta-right--dark-blue,
        .bcbst-text-left-cta-right--light-gray,
        .bcbst-text-left-cta-right--blue-gray
      ),
      .bcbst-text-only-navigation:not(.bcbst-text-only-navigation--light-gray),
      .bcbst-three-column-news-grid:not(.bcbst-three-column-news-grid--light-gray),
      .bcbst-trending-news-grid,
      .bcbst-video-carousel:not(.bcbst-video-carousel--gray),
      .bcbst-brightcove-video-player:not(.bcbst-video-player--light-gray),
      .bcbst-aprimo-video-player:not(.bcbst-video-player--light-gray),
      .bcbst-youku-player:not(.bcbst-video-player--light-gray),
      .bcbst-youtube-video-player:not(.bcbst-video-player--light-gray),
      .bcbst-x3-grid {
      > .bcbst-container {
        > .bcbst-grid {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    .bcbst-compelling-story {
      > .bcbst-compelling-story__grid {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .bcbst-sidebar-related-content-list {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &--gray {
    background: var(--color-gray-light32);
    padding-block: var(--size-spacing-block-padding-background);
  }

  &--collapsed {
    .bcbst-accordion__content {
      opacity: 0;
      transition:
        height 0.3s ease,
        opacity 0.3s ease;
    }
  }
}

.bcbst-accordion.bcbst-accordion--gray {
  .bcbst-accordion__content {
    .bcbst-contact-spots.bcbst-contact-spots--light-gray,
    .bcbst-download-list.bcbst-download-list--light-gray,
    .bcbst-featured-content.bcbst-featured-content--gray, 
    .bcbst-featured-profile.bcbst-featured-profile--light-gray,
    .bcbst-flexible-content-tile-grid.bcbst-flexible-content-tile-grid--light-gray,
    .bcbst-mega-flexible-multi-column-component.bcbst-flexible-visual-navigation-container--light-gray,
    .bcbst-promo-block.bcbst-promo-block--light-gray,
    .bcbst-rich-text.bcbst-rich-text--light-gray,
    .bcbst-social-buttons-inline.bcbst-social-buttons-inline--light-gray,
    .bcbst-tabs.bcbst-tabs--light-gray,
    .bcbst-text-left-cta-right.bcbst-text-left-cta-right--light-gray,
    .bcbst-text-only-navigation.bcbst-text-only-navigation--light-gray,
    .bcbst-three-column-news-grid.bcbst-three-column-news-grid--light-gray,
    .bcbst-video-carousel.bcbst-video-carousel--gray,
    .bcbst-brightcove-video-player.bcbst-video-player--light-gray,
    .bcbst-aprimo-video-player.bcbst-video-player--light-gray,
    .bcbst-youku-player.bcbst-video-player--light-gray,
    .bcbst-youtube-video-player.bcbst-video-player--light-gray {
      > .bcbst-container {
        > .bcbst-grid {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}

.app-main-content-area {
  > .bcbst-accordion {
    > .bcbst-grid {
      @include respond-above(tablet) {
        padding-left: var(--size-grid-padding-medium);
        padding-right: var(--size-grid-padding-medium);
      }
  
      @include respond-above(desktop) {
        padding-left: var(--size-grid-padding-large);
        padding-right: var(--size-grid-padding-large);
      }
    }
  } 
}