// Follow BEM naming convention
// Reduce nesting for readability, < three levels when possible:
//    .block
//      &__element
//      &--modifier
// Unless working with third party classes, classes should be all lower kebab-case

.bcbst-image {
  text-align: center;
  &__img {
    max-width: 100%;
    height: auto;
  }
}
