.bcbst-rich-text {
  > :first-child {
    padding-top: 0;
    margin-top: 0;
  }
  > :last-child {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  strong {
    font-weight: var(--font-weight-semibold);
  }

  blockquote {
    @extend %p2;
    position: relative;
    padding-top: var(--size-blockquote-padding-y);
    padding-right: var(--size-blockquote-padding-x);
    padding-bottom: var(--size-blockquote-padding-y);
    padding-left: var(--size-blockquote-padding-x);
    margin-top: var(--size-blockquote-margin-y);
    margin-right: var(--size-blockquote-margin-x);
    margin-bottom: var(--size-blockquote-margin-y);
    margin-left: var(--size-blockquote-margin-x);
    font-style: italic;
    
    html[lang="zh-cn"] & {
      @extend %p2-cn;
      font-style: italic;
    }

    @include respond-below(tablet) {
      margin-left: calc(var(--size-spacing-base) * 2.5);
      margin-right: calc(var(--size-spacing-base) * 2.5);
    }

    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: var(--size-blockquote-border-size);
      background: var(--color-interactive-secondary-default);
      content: '';
    }

    p {
      font: var(--font-body-rte-block-quote);

      html[lang="zh-cn"] & {
        font: var(--font-cn-body-rte-block-quote);
      }
    }
  }

  sub,
  sup {
    font-size: var(--size-font-small-2);
    font-weight: inherit;
    line-height: 0;
  }

  a:not(.bcbst-btn) {
    font-size: inherit;
    font: inherit;
  }

  em {
    font-weight: var(--font-weight-regular);
  }

  li {
    @extend %paragraph;

    html[lang="zh-cn"] & {
      @extend %paragraph-cn;
    }
  }

  img {
    display: inline-block;
    max-width: 100%;
    height: auto;

    @include respond-below(tablet) {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }

  &--light-gray {
    background-color: var(--color-gray-light32);
    padding-block: var(--size-spacing-block-padding-background);
  }

  p {
    img {
      @include respond-below(tablet) {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }

    .bcbst-btn:not(:last-child) {
      @include respond-above(tablet) {
        margin-right: var(--size-spacing-small);
      }

      @include respond-below(tablet) {
        margin-bottom: var(--size-spacing-small);
      }
    }
  }

  .rte-title--h1 {
    @extend %h1;

    html[lang="zh-cn"] & {
      @extend %h1-cn;
    }
  }

  .rte-title--h2 {
    @extend %h2;

    html[lang="zh-cn"] & {
      @extend %h2-cn;
    }
  }

  .rte-title--h3 {
    @extend %h3;

    html[lang="zh-cn"] & {
      @extend %h3-cn;
    }
  }

  .rte-title--h4 {
    @extend %h4;

    html[lang="zh-cn"] & {
      @extend %h4-cn;
    }
  }

  .rte-title--h5 {
    @extend %h5;

    html[lang="zh-cn"] & {
      @extend %h5-cn;
    }
  }

  .rte-title--h6 {
    @extend %h6;

    html[lang="zh-cn"] & {
      @extend %h6-cn;
    }
  }

  .p1,
  .p2 {
    @include respond-below(tablet) {
      font: var(--font-body-p3);

      html[lang="zh-cn"] & {
        font: var(--font-body-p3);
      }
    }
  }
}
